.state-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: inherit;
  overflow-y: auto;

  &.state-pomodoro {
    background-color: var(--red-color);
  }

  &.state-pause-short {
    background-color: var(--blue-color);
  }

  &.state-pause-long {
    animation: rainbow-bg 15s linear;
    animation-iteration-count: infinite;
  }

  .home-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    .home-element {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
